html {
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
}

.inner-container {
    border: 2px solid pink;
    position: absolute;
}