
* {
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: hsl(224, 82%, 94%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid pink;

    height: 700px;
    width: 450px;
    background-color: white;
    position: absolute;
    
    border-radius: 25px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    padding: 0 0 30px 0;
}

.container h1 {
    margin: 0;
    color: hsl(223, 47%, 23%);
}

.description {
    width: 70%;
    text-align: center;
    color: hsl(224, 23%, 55%);
    margin: 0;
}

.plan {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.second-button {
    margin: 0 0 20px 0;
}