
* {
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: hsl(224, 82%, 94%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 700px;
    width: 450px;
    background-color: white;
    position: absolute;
    
    border-radius: 25px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    padding: 0 0 30px 0;
}

.container h1 {
    margin: 0;
    color: hsl(223, 47%, 23%);
}

.description {
    width: 75%;
    text-align: center;
    line-break: ;
    font-size: 18px;
    color: hsl(224, 23%, 55%);
    margin: 0 0 20px 0;
}

.plan img {
    height: 100%;
}

.plan {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.one {
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    color: hsl(223, 47%, 23%);
}

.two {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: hsl(224, 23%, 55%);
}

.three {
    margin: 16px 0 16px 60px;
    font-weight: 700;
    font-size: 15px;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

.first-button {
    height: 7%;
    width: 75%;
    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 700;

    color: white;
    background-color: hsl(245, 75%, 52%);
    margin: 10px 0 0 0;
}

.second-button {
    border: none;

    font-size: 16px;
    font-weight: 700;

    color: hsl(224, 23%, 55%);
    background-color: white;
    margin: 0 0 25px 0;
}