body {
    background-color: rgb(219, 171, 171);
    /* Increasing body div to 100& viewport */
    height: 100vh;  
    margin: 0px;
    overflow: hidden;
}
  
#gallery {
    height: 140vmax;
    width: 140vmax;  
    position: absolute;
}

h1 {
    text-align: center;
}