p, button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

h2 {
    font-family: 'Fraunces', sans-serif;
}

body {
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture {
    height: 500px;
    width: auto;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
}