p, button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

h2, .first-price {
    font-family: 'Fraunces', sans-serif;
}

h2 {
    font-size: 45px;
    margin: 0;
    color: hsl(212, 21%, 14%);
    line-height: 2.8rem;
    padding: 0 10px 10px 0;
}

.first-title, .description, .second-price {
    color: hsl(228, 12%, 48%);
}

.first-title {
    padding: 0 0 10px 0;
    letter-spacing: 7px;
}
