p, button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

h2, .first-price {
    font-family: 'Fraunces', sans-serif;
}

h2 {
    font-size: 45px;
    margin: 0;
    color: hsl(212, 21%, 14%);
    line-height: 2.8rem;
    padding: 0 10px 10px 0;
}

.first-title, .description, .second-price {
    color: hsl(228, 12%, 48%);
}

.first-title {
    padding: 0 0 10px 0;
    letter-spacing: 7px;
}

.description {
    font-size: 18px;
    margin: 25px 25px 25px 0;
    letter-spacing: 0.5px;
    line-height: 1.8rem;
}


/* html to entire body of page by height. Enables flex content of body to be centered. */
html {
    height: 100%;
}

body {
    /* Making body height to 100% of page */
    height: 100%;
    background-color: hsl(30, 38%, 92%);
    /* Permenant centering of body content to page by flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.parent {
    display: flex;
    height: 630px;
    width: 850px;
    /*
    This allows parent div to shrink relative to the page size by user
    max-height: 50%;
    max-width: 50%;
    */
    border-radius: 25px;
    overflow: hidden;
}


.child {
    /*  */
    display: flex;
    overflow: hidden;
    flex-direction: column;

    /* Dividing parent to 50% one child and 50% second child */
    flex: 50%;
}

.child img {
    /* Enables image to 100% size within child flexbox relative to the page size by user */
    width: 100%;
    height: 100%;
    
    /* Completely fill the box */
    object-fit: cover;
}

/* Second child box of parent */
.child:nth-child(2) {
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    padding: 40px;
    display: flex;
}