* {
    color: #4d4e53;
    text-decoration: none;
}

header {
    color: black;
    font-size: 1.8em;
}

body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    line-height: 1.5;
    font-family: 'Open Sans', Arial, sans-serif;
}

main {
    margin: 0 0 0 350px;
}

#navbar {
    position: fixed;
    border-right: 3px solid rgba(0, 22, 22, 0.4);
    height: 100%;
}

#navbar header {
    margin: 25px;
}

#navbar ul {
    padding: 0;
}

#navbar ul li {
    list-style-type: none;
    padding: 0 0 0 40px;
    margin: 15px 15px 15px -10px;
}

#navbar hr {
    border-top: 1.5px solid rgba(0, 22, 22, 0.4);
    border-bottom: none;
    border-right: none;
}

.main-section:first-of-type {
    padding: 35px 25px 25px 0;
}

.main-section {
    padding: 25px 25px 25px 0;
}

section article {
    font-size: 0.96em;
}

@media (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 165px;
        overflow-y: scroll;
    }
    #navbar ul hr:first-of-type {
        display: none;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
    }
}