* {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #4d4e53;
}

header {
    color: black;
    font-size: 1.8em;
}

body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

main {
    margin: 0 0 0 350px;
}

#navbar {
    position: fixed;
    border-right: 3px solid rgba(0, 22, 22, 0.4);
    height: 100%;
}

#navbar header {
    margin: 25px;
}

#navbar ul li {
    list-style-type: none;
    margin: 25px 15px 25px -10px;
}