* {
    font-family: 'Overpass', sans-serif;
}

html {
    /* Enables html to take 100% of page */
    height: 100%;
    border: 2px solid green;

    /* Centering elements of html to the center of page */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Removes horizontal scroll on page */
    overflow-y: hidden;

    background-color: hsl(216, 12%, 8%);
}

body {
    /* Centering elements of body to the center */
    display: flex;
    align-items: center;

    height: 500px;
    width: 550px;
    
    /* Round border edges */
    border-radius: 30px;
    overflow: hidden;

    border: 2px solid yellow;
    background-color:  hsl(210, 26%, 14%);
}

#container {
    /* Column elements and spaced between */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 500px;
    width: 550px;

    padding: 35px;
    /* Fixed box */
    box-sizing: border-box;
}

#container h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: hsl(0, 0%, 100%);
}

#container p {
    font-size: 1.3rem;
    margin: 0;
    color: hsl(217, 12%, 63%);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 55px;
    width: 55px;
    /* Adds circle below image */
    border-radius: 50%;
    background-color: hsl(213, 18%, 22%);
}

/* Spaces radio option evenly */
.option {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 25px 15px;
}

/* Removes radio input button */
.option input {
    display: none;
}

.option .circle {
    height: 55px;
    width: 55px;
    /* Adds circle below radio input number text */
    border-radius: 50%;
    background-color: hsl(213, 18%, 22%);
    color: hsl(217, 12%, 63%);

    font-size: 18px;
    /* Centering circle with the number text */
    display: flex;
    justify-content: center;
    align-items: center;
}

.option .circle:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);

    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

input[type=radio]:checked + .label-div .circle {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.btn {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    letter-spacing: 2.5px;

    width: 100%;
    height: 55px;
    /* Rounds border */
    border-radius: 23px;
    border: none;
}

.btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

#second-container {
    height: 100%;
    width: 100%;
    background-color: hsl(210, 26%, 14%);
    border: 5px solid pink;

    /* Script changes display to flex when input */
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    /* Round border edges */
    border-radius: 30px;
    overflow: hidden;

    /* Allows box fix sizing */
    box-sizing: border-box;
}

#second-container h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: hsl(0, 0%, 100%);
}

#second-container p {
    font-size: 1.3rem;
    margin: 0;
    color: hsl(217, 12%, 63%);
}
