* {
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    /* 100% of html height */
    height: 100%;
    margin: 0;
    /* Giving overall background image with color mixed with image */
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);

    display: flex;
    justify-content: center;
    align-items: center;
}