* {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    /* 100% of html height */
    height: 100%;
    margin: 0;
    /* Giving overall background image with color mixed with image */
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);

    /* Border space outside of body divs */
    /* Padding or margin by percentage will adapt the size according to user's page size*/
    padding: 0 15% 0 15%;

    /* Divide the two div within body into 50% of left and right of page */
    display: flex;
}

.lefthalf {
    /* left 50% of body */
    flex: 50%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* Prevent margin or padding from increasing div size*/
    box-sizing: border-box;
    /* Space between two div in body */
    padding: 0 100px 0 0;
}

.lefthalf h1 {
    font-size: 50px;
    line-height: 60px;

    margin: 35px 0 0 0;
}

.righthalf {
    /* right 50% of body */
    flex: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.purple {
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0 6px rgba(85, 81, 81, 0.3);
    color: white;

    text-align: center;
    border-radius: 7px;
}

.white {
    /* Allow div to be the height to fit components */
    display: block;
    overflow: auto;

    margin: 25px 0 0 0;
    background-color: white;
    padding: 35px;
    border-radius: 10px;

    box-shadow: 0 6px rgba(85, 81, 81, 0.3);
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type=text]:focus {
    border: 1px solid hsl(248, 32%, 49%);
    color:hsl(249, 10%, 26%);
}

input {
    margin: 15px 0 15px 0;
    padding: 0 0 0 25px;
    height: 70px;

    font-weight: 600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    outline: none;
}

input:first-of-type {
    margin: 0 0 15px 0;
}

button {
    height: 16%;
    margin: 15px 0 0 0;
    color: white;
    background-color: hsl(154, 59%, 51%);

    font-weight: 400;
    letter-spacing: 0.05em;

    border: none;
    border-radius: 5px;

    box-shadow: 0 5px hsl(154, 58%, 41%);
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

button:active {
    opacity: 1;
    box-shadow: 0 3px hsl(154, 58%, 31%);
    transform: translateY(2px);
}

.white p {
    font-size: 11px;
    margin: 20px 0 0 0;
    text-align: center;
    color: hsl(246, 25%, 77%);
}

.white p strong {
    font-size: 11px;
    color: hsl(0, 100%, 74%) ;
}